# DSH Manager
# (c) 2026 Jose AI (https://www.linhut.cn)
# https://github.com/linhut/dsh-manager
# Licensed under the MIT License. See the LICENSE file for details.

[submodule "dsh-skills"]
    path = dsh-skills
    url = https://github.com/linhut/dsh-skills.git
